.cart-item div {
  padding: 5px;
}

.cart-item .cart-item__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cart-item .cart-item__name {
  font-weight: bold;
}

.cart-item .cart-item__price {
  text-align: right;
}
.cart-item .cart-item__price::before {
  content: '$';
}

.cart-item .cart-item__qty {
  display: inline-block;
  width: 26px;
  text-align: center;
}

.cart-item .cart-item__button-minus {
  width: 40px;
}
.cart-item .cart-item__button-minus::before {
  content: '-';
}

.cart-item .cart-item__button-add {
  width: 40px;
}
.cart-item .cart-item__button-add::before {
  content: '+';
}

.cart-item .cart-item__button-remove {
  margin-left: 10px;
}
.cart-item .cart-item__button-remove::before {
  content: 'Remove';
}

.cart-summary {
  padding-top: 20px;
}

.cart-summary .cart-summary__name {
  font-weight: bold;
  border-bottom: 1px solid silver;
}

.cart-summary .cart-summary__value {
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid silver;
}

.cart-summary .cart-summary__price::before {
  content: '$';
}

.cart-checkout-button {
  padding: 20px;
}
