:root {
  --block-width: 320px;
}

.product {
  max-width: var(--block-width);
}

.product .product__img-box {
  justify-content: center;
  margin-bottom: 10px;
}

.product .product__img {
  width: var(--block-width);
  height: var(--block-width);
  border-radius: 50%;
}

.product .product__title {
  font-weight: bold;
  justify-content: center;
}

.product .product__price {
  justify-content: center;
}
.product .product__price::before {
  content: '$';
}

.product .product__qty {
  padding: 0;
  height: 100px;
  justify-content: center;
}
